body {
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
    background-image: url('bg2.png'); 
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Change to column to stack elements vertically */
    justify-content: space-between;
}


.nav-bg {
    background-color: rgba(243, 239, 236, 0.233);
    backdrop-filter: blur(4px); /* Add the backdrop-filter property */
    -webkit-backdrop-filter: blur(4px); /* Add the -webkit-backdrop-filter property for Safari */
    
  }
  
  .nav-bg .navbar-nav .nav-link {
    opacity: 1; /* Adjust the opacity value as needed */
  }

  .navbar {
    background-color: rgba(243, 239, 236, 0.233);
    backdrop-filter: blur(4px); /* Add the backdrop-filter property */
    -webkit-backdrop-filter: blur(4px);
    

  }



  /* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */



.content {
    flex-direction: column; /* Stack items vertically */
     justify-content: space-between;
    background-color: rgba(255, 255, 255, 1); /* Semi-transparent white background */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.rounded-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.container {
    width: 550px;
    height: 550px; /* Set height equal to width to make it square */
    border-radius: 20px;
    background-color:rgba(213, 175, 229, 0.1);; /* Purple color */
    backdrop-filter: blur(100px); /* Apply blur effect to the container */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); /* Add shadow effect */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}

.button{
    margin: 10px 0;
    padding: 15px 30px;
    border: none; /* Remove button border */
    width: 70%;
    border-radius: 10px;
    background-color: #6d1e8f; /* Purple color */
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underline from anchor tags */
    /* display: inline-block; */
}

.inner-button{
    border: none; /* Remove button border */
    background-color: #6d1e8f; /* Purple color */
    transition: background-color 0.3s ease;
    color: #fff;
}

.inner-button:hover {
    background-color: #2c063c; /* Darker purple on hover */
    opacity: 1;
}

.button:hover {
    background-color: #2c063c; /* Darker purple on hover */
    opacity: 1;
}

#re_sci{
    font-size:30px
}
#re_geo{
    font-size:30px
}
#re_his{
    font-size:30px
}




.rounded-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.rounded-button:hover {
    background-color: #0056b3; /* Button background color on hover */
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .btn-gradient {
    background: linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    border: none;
    color: white;
  }
  
  .btn-gradient:hover {
    background: linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    color: white;
    text-decoration: none;
  }

  /* .insta-gradient {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */

  .insta-gradient {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-3px);
    transition: transform 0.3s ease;
  }

  .outer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
