<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading Session</title>  
<link rel="stylesheet" type="text/css" href="styles_ind.css">
</head>

<div class="container">
    <div class="blur-background"></div>
    <div class="content">
        <div class="row justify-content-center"> <!-- Center the content within a row -->
            <div class="col-md-6"> <!-- Specify the column width for medium-sized devices -->
                <div class="rounded-box">
                    <button id="re_sci" class="rounded-button">Data Mining</button>
                    <button id="re_geo" class="rounded-button">Machine Learning</button>
                    <button id="re_his" class="rounded-button">DataScience</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>