<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading Session</title>  
<link rel="stylesheet" type="text/css" href="levels.css">
</head>
<body>
    

<div class="container">

    <div class="blur-background"></div>
        <div class="content">
            <div class="rounded-box">
                <button id="l1" class="rounded-button">Easy</button>
                <button id="l2" class="rounded-button">Medium</button>
                <button id="l3" class="rounded-button">Hard</button>
                <script src="levels.js"></script>
            </div>
        </div>
    </div>
</body>
</html>