<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Science</title>  
<link rel="stylesheet" type="text/css" href="styles_sci.css">
</head>
<body>
    <div class="rounded-box science-container">
        <div class="science-text">Science:</div>
    </div>

<div class="container">

    <div class="blur-background"></div>
        <div class="content">
            <div class="rounded-box">
                
                <button id="chp1" class="rounded-button">Chapter 1</button>
                <button id="chp2" class="rounded-button">Chapter 2</button>
                <button id="chp3" class="rounded-button">Chapter 3</button>
                <script src="sci_chp.js"></script>
            </div>
        </div>
    </div>
</body>
</html>