<!DOCTYPE html>
<html>
<head>
<title>Sci Chp1</title>
<link rel="stylesheet" type="text/css" href="styles_sci3.css">
</head>
<body>
    <div class="container">
        <div class="rounded-box" >
            <p>Space exploration is the quest to explore and understand the cosmos beyond Earth. Astronomy, the scientific study of celestial objects, plays a crucial role in this endeavor. Telescopes and space probes have provided invaluable insights into the universe.

                Astronomy has revealed the vastness of the universe, with billions of galaxies, stars, and planets. Telescopes like the Hubble Space Telescope have captured stunning images of distant galaxies and nebulae, expanding our knowledge of the cosmos. Additionally, space exploration missions, such as the Mars rovers, have allowed us to explore other planets and search for signs of life.
                
                The International Space Station (ISS) is a symbol of international cooperation in space exploration. It serves as a laboratory for scientific research and experiments, fostering collaboration among nations. Space exploration continues to inspire generations to pursue careers in science and technology, driving innovation and expanding our understanding of the universe.
                </p>
        </div>
        </div>
</body>
</html>