<!DOCTYPE html>
<html>
<head>
<title>Sci Chp1</title>
<link rel="stylesheet" type="text/css" href="styles_sci2.css">
</head>
<body>
    <div class="container">
        <div class="rounded-box" >
            <p>Biotechnology is a field of science that harnesses biological processes and organisms to develop products and technologies that improve our lives. One of the key areas within biotechnology is genetic engineering, which involves manipulating an organism's genes to achieve desired traits or outcomes.

                Genetic engineering has found numerous applications in agriculture. For example, genetically modified (GM) crops have been developed to resist pests, tolerate harsh environmental conditions, and enhance nutritional content. These crops have the potential to increase food production and reduce the need for harmful pesticides.
                
                In addition to agriculture, genetic engineering has revolutionized the field of medicine. Scientists can now modify genes to treat genetic disorders, develop vaccines, and create more effective pharmaceuticals. Biotechnology and genetic engineering hold the promise of addressing critical challenges in healthcare, agriculture, and environmental conservation.</p>
        </div>
        </div>
</body>
</html>