<!DOCTYPE html>
<html>
<head>
<title>Sci Chp1</title>
<link rel="stylesheet" type="text/css" href="styles_sci1.css">
</head>
<body>
    <div class="container">
        <div class="rounded-box" >
            <p>AI is a diverse field of computer science focused on creating intelligent systems and machines capable of human-like tasks. These tasks encompass activities like speech recognition, decision-making, problem-solving, and natural language understanding. Recent years have seen significant advancements in AI technology, leading to its widespread integration into our daily lives.

                AI finds application in virtual assistants like Siri and Alexa, which respond to voice commands and perform tasks. It's also pivotal in autonomous vehicles, aiding navigation and decision-making for self-driving cars. In healthcare, AI assists in disease diagnosis and personalized treatment recommendations.
                
                However, AI's rapid progress raises ethical and societal concerns, including privacy, data security, and potential job displacement. Striking a balance between harnessing AI's benefits and addressing these challenges is essential as AI continues to evolve.</p>
        </div>
        </div>
</body>
</html>